<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:include="layout :: head"></head>

    <body>
        <nav th:replace="layout :: menu"></nav>
        <main class="container">
            <form th:action="@{/produto/(form)}" 
                method="POST" 
                th:object="${produto}"> 
                <!-- ISSO AQUI É IMPORTANTE PARA QUANDO FORMOS ALTERAR O NOME DA CIDADE,
                     SE NÃO ELE VAI CRIAR UMA NOVA. ISSO ACONTECE POIS NÃO TEM
                    NADA QUE MOSTRE A CHAVE PIMARIA DESSE OBJETO AO SPRING. -->
                <input type="hidden" th:field="*{id}">
                <div class="form-group">
                    
                    <label for="txtnome">Nome:</label>
                    <input type="text" th:field="*{nome}"
                        class="form-control" id="txtnome">
                    
                    <label for="txtdescricao">Descrição:</label>
                    <input type="text" th:field="*{descricao}"
                        class="form-control" id="txtdescricao">
                    
                    <label for="urlImagem">Url da Imagem:</label>
                    <input type="url" th:field="*{urlImagem}"
                        class="form-control" id="urlImagem">
                    
                    <label for="numValor">Valor:</label>
                    <input type="number" th:field="*{valor}"
                        class="form-control" id="numValor">
                    
                    <label for="cidade">Cidade Origem</label>
                    <select name="cidade" class="form-select" th:field="*{cidadeOrigem}"
                     id="">
                        <option th:value="${umaCidade.id}"
                                th:each="umaCidade : ${listaCidades}" 
                                th:text="${umaCidade.nome}"></option>
                    </select>

                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </main>
        <footer th:include="layout :: footer"></footer>
    </body>
</html>