<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="layout :: head"></head>

<body>
    <nav th:replace="layout :: menu"></nav>
    <main class="container">
        <a href="/clientes/novo" class="btn btn-primary">Novo</a>
        <div class="row mt-3">
            <div class="card mx-3 mb-3" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                    <button class="btn btn-danger js-delete">Excluir</button>
                </div>
            </div>
            <div class="card mx-3 mb-3" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                    <button class="btn btn-danger js-delete">Excluir</button>
                </div>
            </div>
            <div class="card mx-3 mb-3" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                    <button class="btn btn-danger js-delete">Excluir</button>
                </div>
            </div>
            <div class="card mx-3 mb-3" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                    <button class="btn btn-danger js-delete">Excluir</button>
                </div>
            </div>

            <div class="card mx-3 mb-3" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                    <button class="btn btn-danger js-delete">Excluir</button>
                </div>
            </div>
            <div class="card mx-3 mb-3" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                    <button class="btn btn-danger js-delete">Excluir</button>
                </div>
            </div>
        </div>
    </main>
    <footer th:include="layout :: footer"></footer>
</body>